body {
  background-color: #070600;
}

h1 {
  color: #23B5D3;
  font-size: 50px;
  text-decoration-line: underline;
  text-decoration-color: #EA526F;


}
nav {
  list-style-type: none;
  background-color: #23B5D3;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  color: #EA526F;
  padding: 8px;
}
  li {
    display: inline;
    padding: 20px;
    
  }
  li:hover {
  background: black;
}
a {
  text-decoration: none;
  color: #EA526F;
}  
